/* * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    background: #f2f2f2;
    font-family: "Roboto";
    border-top: 30px solid #303F9F;
    height: 99%;

}
  
  .wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey; }
  
  .contenedor-formulario {
    width: 100%;
    color: #f2f2f2;
    padding: 50px; }
    .contenedor-formulario .formulario {
      width: 100%;
      margin: auto; }
      .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px; }
        .contenedor-formulario .formulario .input-group input[type="text"],
        .contenedor-formulario .formulario .input-group input[type="email"],
        .contenedor-formulario .formulario .input-group input[type="number"],
        .contenedor-formulario .formulario .input-group input[type="password"] {
          font-family: "Roboto";
          font-size: 16px;
          color: #303F9F;
          width: 100%;
          outline: none;
          padding: 15px;
          background: none;
          border: none;
          border-bottom: 2px solid #BBDEFB; }
          .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
          .contenedor-formulario .formulario .input-group input[type="email"]:focus,
          .contenedor-formulario .formulario .input-group input[type="email"]:active,
          .contenedor-formulario .formulario .input-group input[type="password"]:focus,
          .contenedor-formulario .formulario .input-group input[type="password"]:active {
            outline: none;
            border-bottom: 2px solid #303F9F; }
          .contenedor-formulario .formulario .input-group input[type="text"].error,
          .contenedor-formulario .formulario .input-group input[type="email"].error,
          .contenedor-formulario .formulario .input-group input[type="password"].error {
            border-bottom: 2px solid #D32F2F; }
            .contenedor-formulario .formulario .input-group input[type="text"].error + label,
            .contenedor-formulario .formulario .input-group input[type="email"].error + label,
            .contenedor-formulario .formulario .input-group input[type="password"].error + label {
              color: #D32F2F; }
        .contenedor-formulario .formulario .input-group label {
          color: #303F9F; }
          .contenedor-formulario .formulario .input-group label.label {
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin-left: 15px;
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            top: 16px;
            left: 0; }
            .contenedor-formulario .formulario .input-group label.label.active {
              top: -12px;
              font-size: 12px;
              line-height: 12px;
              color: #B6B6B6; }
        .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
          display: inline-block;
          cursor: pointer;
          color: #303F9F;
          position: relative;
          padding: 5px 15px 5px 51px;
          font-size: 1em;
          border-radius: 3px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
            background: #bbdefb; }
          .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 2px solid #303F9F; }
        .contenedor-formulario .formulario .input-group.error label {
          color: #D32F2F; }
          .contenedor-formulario .formulario .input-group.error label:hover {
            background: rgba(211, 47, 47, 0.2); }
          .contenedor-formulario .formulario .input-group.error label:before {
            border: 2px solid #D32F2F; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #303F9F;
            border-radius: 2px;
            color: #f2f2f2; }
        .contenedor-formulario .formulario .input-group.checkbox label:before {
          border-radius: 3px; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
            background: #303F9F;
            color: #f2f2f2;
            padding: 5px 15px; }
      .contenedor-formulario .formulario input[type="submit"] {
        background: #303F9F;
        border-radius: 1px;
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto";
        font-size: 16px;
        padding: 15px;
        width: 10%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: #1976D2; }
    .contenedor-formulario .formulario input[type="submit"] {
        background: #303F9F;
        border-radius: 1px;
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto";
        font-size: 16px;
        padding: 15px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: #1976D2; }
.contenedor-formulario .formulario input[type="submit"] {
        background: #303F9F;
        border-radius: 1px;
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto";
        font-size: 16px;
        padding: 15px;
        width: 30%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: #1976D2; }


        
   */
   @import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}




/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }
  


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

@media (max-width:700px) {
  .fadeIn.fourth{
    width: 4%;
    padding-left:25%;
    padding-right:42%
    
  }
  
  
  
}